
:root{
    --principal: #005045; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005045;
    color: #FFFFFF;
    padding: 15px 20px;
}

header img {
    height: 70px;
    width: auto;
    object-fit: contain;
    display: block;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header ul a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}


header ul:first-of-type a {
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

header ul:first-of-type a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width 0.3s ease;
}

header ul:first-of-type a:hover {
    color: #FFFFFF;
}

header ul:first-of-type a:hover::after {
    width: 100%;
}

/* Ícones e hover */
header ul:last-of-type li i {
    font-size: 20px;
    color: #FFFFFF;
    transition: transform 0.3s ease, color 0.3s ease;
}

header ul:last-of-type li:hover i {
    transform: scale(1.2);
    color: #A0E5CF;
}
/* Switch de Dark Mode */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/* Dark Mode */
body.dark-mode {
    background-color: #222222;
    color: #DDDDDD;
}
.mananger-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
main{
    border-radius: 10px ;

    padding: 1.5rem;

}

.choice {
    display: flex;
       align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
}

.choice div {
    padding: 0.75rem 2rem;
    border-bottom:  solid var(--principal);
    border-radius: 8px 8px 0px 0px;
    background: white;
    color: var(--principal);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    user-select: none;
}

.choice div:hover {
    background-color:var(--principal);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.choice div:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #005045;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #005045;
}
.btn {
    background-color: var(--principal);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--principal);

}
.confirma-senha{
    display: none;
    color: rgb(233, 88, 88);
    text-decoration: underline;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.4s;
}

.input-erro {
  border: 2px solid red !important;
  outline: none;
}